<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="prismic-api" content="https://d3helpgj3q5cj2.cloudfront.net/api">
<title>{{site.title}}</title>
<link href="{{assets}}/css/bootstrap.css" rel="stylesheet">
<link href="{{assets}}/font-awesome/css/font-awesome.min.css" rel="stylesheet">
<link href='http://fonts.googleapis.com/css?family=Merienda|Roboto+Slab|Source+Code+Pro'
      rel='stylesheet'>
<!--[if lt IE 9]>
    <script src="{{assets}}/html5shiv/html5shiv.min.js"></script>
    <script src="{{assets}}/respond/respond.min.js"></script>
    <![endif]-->
<script src="{{assets}}/jquery/jquery.min.js"></script>
<script src="{{assets}}/bootstrap/js/bootstrap.min.js"></script>
