<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="{{relative dest 'index.html'}}">{{site.title}}</a>
    </div>
    <div class="collapse navbar-collapse" id="navbar-collapse">
      <ul class="nav navbar-nav navbar-right">
        <li{{#is basename "socialize"}} class="active"{{/is}}>
          <a href="{{relative dest 'socialize.html'}}">Socialize</a>
        </li>
        <li{{#is basename "learn"}} class="active"{{/is}}>
          <a href="{{relative dest 'learn.html'}}">Learn</a>
        </li>
        <li{{#is basename "test"}} class="active"{{/is}}>
          <a href="{{relative dest 'test.html'}}">Test</a>
        </li>
        <li{{#is basename "practice"}} class="active"{{/is}}>
          <a href="{{relative dest 'practice.html'}}">Practice</a>
        </li>
        <li{{#is basename "pscomms"}} class="active"{{/is}}>
          <a href="{{relative dest 'pscomms.html'}}">Serve</a>
        </li>
        <li{{#is basename "map"}} class="active"{{/is}}>
          <a href="{{relative dest 'map.html'}}">Map</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
